
body {
    background-color: #c9d1d5;
    font-family: prometo, SansSerif;
}

.header {
    background-color: #ffffff;
}

.header-top {
    text-align: right;
    padding-right: 100px;
    background-color: #d7d7d7;
    color: #9b9b9b;
    line-height: 50px;
}

.header-top span {
    color: #666666;
}

.header-bottom {
    padding-right: 100px;
    margin-bottom: 10px;
    line-height: 100px;
    padding: 30 100;
    border-radius: 0 0 120px 0;
    background-image: linear-gradient(to right, #EFEFEF 0%, #E4E4E4 100%);
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: solid 10px white;
    background-color: #375c64;
    color: #d0d0d0;
    line-height: 80px;
    text-align: center;
}

.footer-left {
    width: 400px;
    float: left;
    margin-left: 100px;
}

.footer-right {
    width: 500px;
    float: right;
}

.whitebox {
    position: absolute;
    width: 480px;
    background-color: #ffffff;
    border-radius: 0 0 30px 0;
    padding: 0px 20px 20px 50px;
}

.box1 {
    top: 250px;
}

.box2 {
    top: 400px;
}

h3 {
    color: #005674;
}

h2 {
    color: #005674;
    border-bottom: dashed 2px #4a5961;
}

.whitebox-text {
    padding-top: 10px;
}

.prod_descr {
    position: absolute;
    background: #ffffff;
    padding: 10px 40px 10px 20px;
    border-bottom-right-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.plus_sign {
    height: 20px;
    position: absolute;
    z-index: 9;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 49px;
    background: #e98132;
    border-bottom-right-radius: 30px;
}

ul {
    list-style: none
}

.header_area {
    border-radius: 0 0 120px 0;
    background-image: -ms-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -moz-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -o-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #EFEFEF), color-stop(100, #E4E4E4));
    background-image: -webkit-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: linear-gradient(to right, #EFEFEF 0%, #E4E4E4 100%);
    z-index: 0;
}

.top_header_wide {
    background: #d7d7d7;
    margin: 0;
    padding: 0;
    width: 100%
}

.top_header {
    margin: 0 auto;
    padding: 15px 0 15px;
    max-width: 1560px;
}

.top_header p {
    text-align: right;
    margin: 0;
    padding: 0;
    color: #9b9b9b;
    font-size: 20.36px;
    line-height: 24px;
    font-weight: 400
}

.top_header p a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #666666
}

header {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1560px;
}

.logo {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 393px
}

.logo img {
    width: 50px;
}

.section {
    margin: 8px 0;
    padding: 0;
    width: 100%;
    background: #c9d1d5;
    position: relative;
}

.content {
    margin: 0;
    padding: 0
}

.prod_search h2 {
    color: #34454e;
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-weight: 700;
    border-bottom: dashed 2px #4a5961
}

.prod_search ul {
    margin: 0;
    padding: 0 0 16px;
}

.prod_search ul li {
    margin: 0;
    padding: 0;
    color: #34454e;
    font-size: 21px;
    line-height: 37px;
    font-weight: 400
}

.prod_search .facts h2 {
    color: #fff;
    border-color: #fff;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.prod_search .facts ul {
    padding: 0
}

.prod_search .facts ul li {
    color: #fff;
    line-height: 21px;;
    font-size: 18px;
    padding: 0 0 19px
}

.prod_search .facts_box .button {
    background: #fff;
    color: #34454e
}

.prod_search .facts_box .button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -3px 10px 0 0;
    padding: 0;
    background: url(../images/button-play-before.png) no-repeat 0 0;
    background-size: 18px 19px;
    width: 18px;
    height: 19px;
}

.search_results {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 180;
    left: 0;
    width: 540px;
    z-index: 9
}

.search_results h2 {
    color: #34454e;
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-weight: 700;
    border-bottom: dashed 2px #4a5961
}

.results_list {
    background: #e2e4e5;
    color: #34454e;
    margin-left: 25px;
    padding: 23px 25px 26px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 340px;
}

.results_list h2 {
    color: #34454e;
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-weight: 700;
    border-bottom: dashed 2px #4a5961
}

.blue_side {
    margin: 0;
    padding: 0;
    background-image: -ms-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -moz-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -o-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #577378), color-stop(100, #384A53));
    background-image: -webkit-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: linear-gradient(to right, #577378 0%, #384A53 100%);
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    position: relative;
}

.blue_side:before {
    content: "";
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #587277;
    position: absolute;
    left: 0;
    top: 0;
    width: 2000px;
    height: 100%;
    left: -2000px;
}

.blue_side_inside {
    margin: 0;
    padding: 30px 0 24px
}

.blue_side h1 {
    color: #ffffff;
    font-size: 43px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.blue_side p {
    color: #ffffff;
    font-size: 21px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.image_area {
    margin: 0;
    padding: 0;
    padding-top: 120px;
}

.prod_descr {
    position: absolute;
    background: #ffffff;
    padding: 10px 40px 10px 20px;
    border-bottom-right-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.plus_sign {
    height: 20px;
    position: absolute;
    z-index: 9;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 49px;
    background: #e98132;
    border-bottom-right-radius: 30px;
}

.facts_box {
    margin: 0;
    padding: 0;
    width: 340px;
    position: absolute;
    right: 0;
    top: 550px;
    color: #ffffff
}

.facts {
    background: #27434e;
    margin: 0 0 15px;
    padding: 23px 25px 41px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.facts h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-weight: 700;
    border-bottom: dashed 2px #ffffff
}

.footer_wide {
    background: #375c64;
    margin: 0;
    padding: 0;
    width: 100%
}

footer {
    margin: 0 auto;
    padding: 25px 0;
    max-width: 1560px;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer div {
    width: 100%;
    text-align: center;
}

footer a, footer p {
    color: #d0d0d0;
    font-size: 20.36px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

footer a.go img {
    display: inline-block;
    margin: 0 13px -4px 0;
}

footer p {
    font-weight: 400;
    text-align: center
}

.top_header, header, footer, .sign_boxes, .content, .blue_side_inside {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.facts_box {
    right: 20px;
}

.banner_wide {
    background-size: cover;
}

.banner_left {
    padding-left: 20px;
    padding-right: 20px;
}
